.container1{
    width: 600px;
    height: 250px;
    background-color: #fbfbfb;
    border: 2px dashed black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.vuông-trái{
    width: 150px;
    height: 150px;
    background-color: #ff0000;
    border-radius: 15px;
    text-align: center;
    line-height: 150px;
}
.tròn{
    width: 150px;
    height: 150px;
    background-color: #0000ff;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
}
.vuông-phải{
    width: 150px;
    height: 150px;
    background-color: #ff0000;
    border-radius: 15px;
    text-align: center;
    line-height: 150px;
}