.container{   
    border: 1px solid rgb(189, 189, 189); 
    width: 650px;
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    font-family: Arial, Helvetica, sans-serif;    
}
.part1{
    position: relative;
    top: 10px;
}
.part1 #ten{
    width: 300px;
    height: 36px;
    margin-bottom: 8px;
    margin-right: 8px;
    font-size: 18px
}
.part1 #email{
    width: 300px;
    height: 36px;
    margin-bottom: 8px;
    margin-right: 8px;
    font-size: 18px
}
.part1 #phone{
    width: 300px;
    height: 36px;
    margin-bottom: 8px;
    margin-right: 8px;
    font-size: 18px
}
.part1 #address{
    width: 300px;
    height: 36px;
    margin-bottom: 8px;
    margin-right: 8px;
    font-size: 18px
}

.part2{
    position: relative;
    top: 10px;
}
.part2 #content{
    width: 300px;
    height: 182px;
    margin-bottom: 8px;
    font-size: 18px;
}
.part2 #button{
    width: 300px;
    height: 36px;
    background-color: #2563eb;
    color: #ffff;
    border-radius: 5px;    
    font-size: 18px;
}